<h5>* Required Parameters</h5>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th align="left">Field</th>
            <th align="left">Value</th>
            <th align="left">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><code>base</code></td>
            <td align="left">String</td>
            <td align="left">Base currency of the pair, as a <a href="#currency-code">Currency Code</a>, followed by
                <code>+</code> and the issuer <a href="#addresses">Address</a> unless it's XRP.</td>
        </tr>
        <tr>
            <td align="left"><code>counter</code></td>
            <td align="left">String</td>
            <td align="left">Counter currency of the pair, as a <a href="#currency-code">Currency Code</a>, followed by
                <code>+</code> and the issuer <a href="#addresses">Address</a> unless it's XRP.</td>
        </tr>
    </tbody>
</table>
<p>Optionally, you can provide the following query parameters:</p>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th align="left">Field</th>
            <th align="left">Value</th>
            <th align="left">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><code>period</code></td>
            <td align="left">String</td>
            <td align="left">Get results for trading activity during a chosen time period. Valid periods are <code>1day</code>,
                <code>3day</code>, or <code>7day</code>. The default is <code>1day</code>.</td>
        </tr>
        <tr>
            <td align="left"><code>date</code></td>
            <td align="left">String</td>
            <td align="left">Get results for the period starting at this time. The default is the most recent period
                available.</td>
        </tr>
        <tr>
            <td align="left"><code>include_exchanges</code></td>
            <td align="left">Boolean</td>
            <td align="left">Include individual exchanges for each account in the results.</td>
        </tr>
        <tr>
            <td align="left"><code>format</code></td>
            <td align="left">String</td>
            <td align="left">Format of returned results: <code>csv</code> or <code>json</code>. The default is <code>json</code>.</td>
        </tr>
    </tbody>
</table>