<table>
    <thead>
        <tr>
            <th align="left">Field</th>
            <th align="left">Value</th>
            <th align="left">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><code>ledger_identifier</code></td>
            <td align="left">Ledger <a href="#hashes">Hash</a>, <a href="#ledger-index">Ledger Index</a>, or <a href="#timestamps">Timestamp</a></td>
            <td align="left"><em>(Optional)</em> An identifier for the ledger to retrieve: either the full hash in hex,
                an integer sequence number, or a date-time. If a date-time is provided, retrieve the ledger that was
                most recently closed at that time. If omitted, retrieve the latest validated ledger.</td>
        </tr>
    </tbody>
</table>
<p>Optionally, you can provide the following query parameters:</p>
<table>
    <thead>
        <tr>
            <th align="left">Field</th>
            <th align="left">Value</th>
            <th align="left">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><code>transactions</code></td>
            <td align="left">Boolean</td>
            <td align="left">If <code>true</code>, include the identifying hashes of all transactions that are part of
                this ledger.</td>
        </tr>
        <tr>
            <td align="left"><code>binary</code></td>
            <td align="left">Boolean</td>
            <td align="left">If <code>true</code>, include all transactions from this ledger as hex-formatted binary
                data. (If provided, overrides <code>transactions</code>.)</td>
        </tr>
        <tr>
            <td align="left"><code>expand</code></td>
            <td align="left">Boolean</td>
            <td align="left">If <code>true</code>, include all transactions from this ledger as nested JSON objects.
                (If provided, overrides <code>binary</code> and <code>transactions</code>.)</td>
        </tr>
    </tbody>
</table>
<h4 id="response-format">Response Format</h4>
<p>A successful response uses the HTTP code <strong>200 OK</strong> and has a JSON body with the following:</p>
<table>
    <thead>
        <tr>
            <th align="left">Field</th>
            <th align="left">Value</th>
            <th align="left">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><code>result</code></td>
            <td align="left">String</td>
            <td align="left">The value <code>success</code> indicates that this is a successful response.</td>
        </tr>
        <tr>
            <td align="left"><code>ledger</code></td>
            <td align="left"><a href="#ledger-objects">Ledger object</a></td>
            <td align="left">The requested ledger.</td>
        </tr>
    </tbody>
</table>