<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size:2rem;border-radius:0;margin-bottom:0px;">
    <a class="navbar-brand" href="#">XRP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Ledger
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/">Get Ledger</a>
                    <a class="dropdown-item" href="#">Get Transaction</a>
                    <a class="dropdown-item" href="#">Get Transactions</a>
                    <a class="dropdown-item" href="#">Get Payments</a>
                    <a class="dropdown-item" href="#">Get Exchanges</a>
                    <a class="dropdown-item" href="#">Get Exchange Rates</a>
                    <a class="dropdown-item" href="#">Normalize</a>
                    <a class="dropdown-item" href="#">Get Daily Reports</a>
                    <a class="dropdown-item" href="#">Get Stats</a>
                    <a class="dropdown-item" href="#">Get Active Accounts</a>
                    <a class="dropdown-item" href="#">Get Exchange Volume</a>
                    <a class="dropdown-item" href="#">Get Payment Volume</a>
                    <a class="dropdown-item" href="#">Get External Markets</a>
                    <a class="dropdown-item" href="#">Get XRP Distribution</a>
                    <a class="dropdown-item" href="#">Get Top Currencies</a>
                    <a class="dropdown-item" href="#">Get Top Markets</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Get Account</a>
                    <a class="dropdown-item" href="#">Get Accounts</a>
                    <a class="dropdown-item" href="#">Get Account Balances</a>
                    <a class="dropdown-item" href="#">Get Account Orders</a>
                    <a class="dropdown-item" href="/account">Get Account Transaction History</a>
                    <a class="dropdown-item" href="#">Get Transaction By Account and Sequence</a>
                    <a class="dropdown-item" href="#">Get Account Payments</a>
                    <a class="dropdown-item" href="#">Get Account Exchanges</a>
                    <a class="dropdown-item" href="#">Get Account Balance Changes
                    </a>
                    <a class="dropdown-item" href="#">Get Account Reports</a>
                    <a class="dropdown-item" href="#">Get Account Transaction Stats</a>
                    <a class="dropdown-item" href="#">Get Account Value Stats</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">MISC</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>